:root{
    --blue:rgb(4, 253, 228);
    --grey:#333;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: grid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:20px;
    margin-bottom:20px;
    max-width:100%;   
}
.wrapper{ 
    display: flex;
    flex-direction:column;
    margin:0;
    max-width:100%; 
    min-height: 300px;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/79731568097599.5b50bca477735.jpg");
}

.logo-nav{
    min-height: 100px;
    background-color:var(--grey);
    display: flex;
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
}
.logo{
    font-size:40px;
    color:var(--grey);
    background-color:var(--blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 20%;
    margin-top: 10px;
    margin-bottom:10px;

}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex-basis: 80%;
    margin-right: px;
}
.nav > a{
    font-size:20px;
    color: var(--blue);
    margin:7px;
    padding:7px;
    line-height: 30px;
}
.bannerText {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
.bannerText > h1{
    padding:10px;
    background-color: var(--blue);
    color: var(--grey);
    margin-top:100px;
    margin-right:65px;
}

.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:20px;
    margin-bottom:20px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
.contact,
.item-1{
    padding:10px;
    font-size:40px;
    text-align: right;
    color: var(--grey);
    border-right: 10px solid var(--grey);
}

.item-2{
    padding: 10px;
}


.container-2{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top:20px;
    margin-bottom:20px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    min-height:1000px;
}
.item-4{
    padding:10px;
    font-size:40px;
    text-align: right;
    color: var(--grey);
    border-right: 10px solid var(--grey);
}

.item-5{
    padding: 10px;
    display: grid;
    grid-template-rows: 5fr 3fr;
    grid-template-columns: auto;
}
.sub-photos{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-photo, .photo-2, .photo-3, .photo-4, .photo-5{
    border: 10px solid var(--blue);
    margin:10px;

}
.main-photo{
    background-image: url("https://i.pcmag.com/imagery/articles/00l8p1iqqfNP3HRG3TtTgXl-1..v1587974089.jpg");
}
.photo-2{
    background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202212/coding_reuters-one_one.jpg?VersionId=OJJ6zyKqFviae5hm3BsH7Z1rMoYuPdkU");

}
.photo-3{
    background-image: url("https://vportal.net/wp-content/uploads/2022/09/Learn-Programming-In-A-Fun-Way-758x398-1.jpg");

}
.photo-4{
    background-image: url("https://content.techgig.com/photo/88206199/5-Tips-to-make-your-code-quality-better-and-more-efficient.jpg");

}
.photo-5{
    background-image: url("https://assets.entrepreneur.com/content/3x2/2000/why-learned-code-how-can-3-months.jpg?auto=webp&quality=95&crop=16:9&width=675");
}

.main-photo h2 {
    font-size: 150%;
    width: 20%;
    border: 2px solid var(--blue);
    position: relative;
    bottom: -400px;
    background-color: var(--blue);
    margin-left: 0;
    margin-right: auto;
    padding: 5px;
}
.main-photo h2 > a, .photo-2 h2 > a, .photo-3 h2 > a,
.photo-4 h2 > a, .photo-5 h2 > a{
    font-size: 16px;
}
.photo-2 h2, .photo-3 h2, .photo-4 h2, .photo-5 h2 {
    font-size: 150%;
    width: 40%;
    border: 2px solid var(--blue);
    position: relative;
    bottom: -35px;
    background-color: var(--blue);
    margin-left: 0;
    margin-right: auto;
    padding: 5px;
}

.contact-links{
    color: var(--grey);
    font-size:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}
.contact-links > a {
    color: var(--grey);
}

.nav > a:hover{
    color:var(--grey);
    background-color:var(--blue);

}

.logo:hover{
    color:var(--blue);
    background-color:var(--grey);
}
.main-photo:hover,.photo-1:hover, .photo-2:hover, .photo-3:hover, .photo-4:hover, .photo-5:hover,
.main-photo h2:hover,.photo-1 h2:hover, .photo-2 h2:hover, .photo-3 h2:hover, .photo-4 h2:hover, .photo-5 h2:hover {
    box-shadow: inset 0px 0px 40px  var(--blue), 0 0 40px  var(--blue);
}


@media only screen and (max-width:768px){
    body, footer, .container, .container-2, .item-5, .sub-photos{
        display: flex;
        flex-direction: column;
    }
    .item-1, .item-4, .contact{
        text-align:center;
        border-right: 0px;
        border-bottom: 10px solid var(--grey);
    }
    .item-5{
        display: flex;
        flex-direction: column;
        width:auto;
        margin:auto;
    }
    .main-photo, .photo-2, .photo-3, .photo-4, .photo-5{
        border: 10px solid var(--blue);
        margin:0px;
        margin-top:5px;
        margin-bottom:5px;
        width: 440px;
        height: 440px;
    
    }
    .main-photo h2 , .photo-2 h2, .photo-3 h2 , .photo-4 h2 , .photo-5 h2{
        font-size: 150%;
        width: 40%;
        border: 2px solid var(--blue);
        position: relative;
        bottom: -300px;
        background-color: var(--blue);
        margin-left: 0;
        margin-right: auto;
        padding: 5px;
    }

}
